.box {
	height: 300px;
	text-align: center;
	background-color: #b0c4de;

display: flex;
  justify-content: center;
  align-items: center;
}

.min_box {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #fffacd;
	margin-left: 10px;

}
